/*
*
* Colour variables
*
*/

$primary-colour: #27549f;
$primary-colour-dim: #637db4;

$secondary-colour: #f7c457;
$alert-colour: #f03;
$warning-colour: yellow;
$success-colour: green;

$grey: #ccc;
$light-grey: #f1f4fc;
$medium-grey: #b6c6e1;;
$dark-grey: #333333;
